body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;/*centra los cajones*/
    /*align-items: start;/*para que todo se ponga arriba en primera posicion*/
min-height: 100vh;
justify-content: center;/** centra todos los cajones*/
background-color: #ededed;
}

div, body, header,nav, ul, footer {
    box-sizing: border-box;
}

.main-wrapper, header, footer {
    width: 100%;
}

h1,h3,h4,h2 {
    text-wrap: balance;
    text-align: center;
}

p {
    text-wrap: pretty;
}

/*  HEADER  */
.header {
    background-color: #48e;
}

.main-navbar ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

.main-navbar li {
    list-style: none;
    margin: 5px;


}

.main-navbar a {
    color: #fff;
    display: inline-block;
    padding: 6px 9px;
}

nav a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

/*   MAIN SECTION   */

.main-wrapper {
    display: flex;
    flex-grow: 1;
    max-width: 1024px;
    flex-wrap: wrap; /*va de la mano con el flex-basis: 0 de aside, main*/
    justify-content: center;/* centra el contenido despues de aplicar el flex-wrap: wrap*/
    gap: 10px;/*separa las cajas dentro del main*/

}

aside, main {
    /* border: 1px solid red;*/
    padding: 10px 20px;
    flex-basis: 0;/*va de la mano con el flex-wrap: wrap de .main-wraper*/
    background-color: #fff;
}

main {
    min-width: 300px;
    flex-grow: 2;/*ajusta la caja de tamaño a la de arriba el numero 2 es para que tenga mayor tamaño que la del lado*/ 
}

.main-wrapper aside {
flex-grow: 1;
}

.secondary-navbar {
    min-width: 10rem;
    text-align: center;
}

.secondary-navbar ul {
    padding: 0;
}

.secondary-navbar li {
    list-style: none;
}

.secondary-navbar a {
    color: #48e;
    display: inline-block;
    padding: 6px 10px;
}

aside:last-child {
    min-width: 10rem;
}

/* FOOTER  */

footer {
    margin-top: auto;
    border: 1px solid #f00;
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    font-weight: bold;

}

/* crear una regla para cuando la pagina este a determinado tamaño*/
/*quita el tercer cajon cuando la pangina es inferior a 600px*/
@media screen and (max-width: 800px) {
    aside:last-child{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .main-wrapper {
        flex-direction: column;
    }
}